include ../lead/lead
section.translate-websites
    .translate-websites__wrapper.u-container
        +lead(
            'Перевод веб&#8209;сайтов',
            'Получить профессиональный перевод теперь так же просто как вызвать такси'
        ).translate-websites__lead
            include ../check-list/check-list
            +check-list([
                'Личные веб&#8209;сайты',
                'Информационные сайты',
                'Сервисы',
                'Блоги',
                'Интернет-магазины',
                'Корпоративные сайты',
                'Сайт-визитка',
                'Промо-сайт',
            ]).translate-websites__checklist

        .translate-websites__info
            -
                const paragraphs = [
                    'Langify предоставляет услуги перевода веб&#8209;сайтов с помощью сети профессиональных переводчиков-партнеров со всей России и стран СНГ.',
                    'Перевод веб&#8209;сайта позволяет привлечь тысячи новых посетителей и потенциальных клиентов в Интернете. Предлагая свои товары или услуги международной аудитории, вы создаете рекламу и существенный потенциал для роста своего бизнеса.',
                    'Вы можете облегчить навигацию по сайту для ваших иностранных посетителей и увеличить свою долю на рынке без крупных вложений. Наши переводчики адаптируют содержимое вашего сайта к культуре целевой аудитории, сохраняя образ вашего бренда, когда ваш бизнес выходит на новые рынки.'
                ];
            each paragraph in paragraphs
              p.translate-websites__paragraph!=paragraph
